# OS
.DS_Store

# Logs
*.log

# Backend folders
certificate-verification-backend/templates/
certificate-verification-backend/uploads/

# Frontend build output
certificate-frontend/dist/
certificate-frontend/build/